<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    
    <title>Lumino - Dashboard</title>
 
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/font-awesome.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/datepicker3.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/jquery-ui.min.css') }}">


    <!--Custom Font-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
</head>

    
       
   
<body>
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#sidebar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#"><span>The Eatery Kitchen</span>Admin</a>
                <ul class="nav navbar-top-links navbar-right">

                    <li class="dropdown">
                        <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
                            <em class="fa fa-user-circle"></em>
                        </a>
                        
                    </li>
                </ul>
            </div>
        </div><!-- /.container-fluid -->
    </nav>
    <div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">
        <div class="profile-sidebar">
            <div class="profile-userpic">
                <img src="http://placehold.it/50/30a5ff/fff" class="img-responsive" alt="">
            </div>
            <div class="profile-usertitle">
                <div class="profile-usertitle-name">user.username</div>
                <div class="profile-usertitle-status"><span class="indicator label-success"></span>Online</div>
            </div>
            <div class="clear"></div>
        </div>
        <div class="divider"></div>

        <ul class="nav menu">
           
            <li><a href="{{ url_for('item') }}"><em class="fa fa-address-book">&nbsp;</em> Manage Item</a></li>
            <li><a href="{{ url_for('order') }}"><em class="fa fa-book">&nbsp;</em> Manage Order</a></li>     

            


        </ul>
    </div><!--/.sidebar-->

    <div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">

        <div class="row">

            <div class="col-sm-12">
                <p class="back-link">Suraj dhungana<a href="#">The Eatery Kitchen</a></p>
            </div>
        </div><!--/.row-->
    </div>	<!--/.main-->

    <script type=text/javascript src="{{
        url_for('static', filename='js/jquery-1.11.1.min.js') }}"></script>
    <script type=text/javascript src="{{
        url_for('static', filename='js/jquery.js') }}"></script>
        <script type=text/javascript src="{{
            url_for('static', filename='js/bootstrap.min.js') }}"></script>
            <script type=text/javascript src="{{
                url_for('static', filename='js/jquery.validate.min.js') }}"></script>
                <script type=text/javascript src="{{
                    url_for('static', filename='js/jquery.validate.unobtrusive.min.js') }}"></script>
                    <script type=text/javascript src="{{
                        url_for('static', filename='js/chart.min.js') }}"></script>
                        <script type=text/javascript src="{{
                            url_for('static', filename='js/chart-data.js') }}"></script>
                            <script type=text/javascript src="{{
                                url_for('static', filename='js/easypiechart.js') }}"></script>
                                <script type=text/javascript src="{{
                                    url_for('static', filename='js/easypiechart-data.js') }}"></script>
                                    <script type=text/javascript src="{{
                                        url_for('static', filename='js/bootstrap-datepicker.js') }}"></script>
    <script type=text/javascript src="{{
        url_for('static', filename='js/custom.js') }}"></script>
    <script type=text/javascript src="{{
        url_for('static', filename='js/jquery-ui-1.12.1.min.js') }}"></script>
    <script type=text/javascript src="{{
        url_for('static', filename='js/notify.min.js') }}"></script>
    <script>
        window.onload = function () {
            var chart1 = document.getElementById("line-chart").getContext("2d");
            window.myLine = new Chart(chart1).Line(lineChartData, {
                responsive: true,
                scaleLineColor: "rgba(0,0,0,.2)",
                scaleGridLineColor: "rgba(0,0,0,.05)",
                scaleFontColor: "#c5c7cc"
            });
        };</script>

  
</body>
</html>
